<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} | {{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400|Montserrat:400' rel='stylesheet' type='text/css'>
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <link rel="shortcut icon" href="{{ ASSET_PATH }}/images/favicon.ico">
  <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    <script src="//load.sumome.com/" data-sumo-site-id="a4a3d1bb831b3b2ae4e55a891c775391041b098b2d6f4927e0d3f6615929c70c" async="async"></script>
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="johnfonte.com ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="johnfonte.com RSS Feed">

  </head>

  <body>
    <div class="container">
      <div class="nav">
        <h1 class="header"><a class="header" href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
      </div>
      <div class="info">
        <div class="quick">
          <img class="gravatar" src="http://www.gravatar.com/avatar/f82dfeeef9a788dc2a9cbc0b8a7c2fb4?s=40">
          <p>Hi! I’m John Fonte, a software engineer for <a href="http://learninga-z.com">Learning A-Z</a>. I <a href="http://umich.edu/~mfly">build</a> <a href="http://sustainabilityinternational.org">custom</a> <a href="http://golfbmpsolutions.com">websites</a> and hack on <a href="https://www.hackerleague.org/hackathons/pennapps-spring-2013/hacks/betterauth">apps</a> and <a href="https://github.com/johnfonte/virulent">circuits</a>.</p>
        </div>
        {% include JB/contact %}
      </div>
      <hr>
      <div class="content">
        {{ content }}
      </div>

    </div>

    {% include JB/analytics %}
  </body>
</html>
