<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row-fluid">
  <div class="span12">
    {{ content }}
  </div>
</div>
<footer>
	<p>So glad you could make it! My name is John Fonte, and I'm a software engineer based in Ann Arbor, MI.</p>

	<p>I'm writing about my three passions - Software Development, Ultimate Frisbee, and Freelancing.</p>

	<p>Follow me on Twitter or shoot me an email if you'd like to chat!</p>
</footer>
