<div class="page-header">
  <p class="author">
    <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
  </p>
  <h1>{{ page.title }}</h1>
<!--  {% if page.description %}<h3>{{page.description}}</h3>{% endif %} -->
</div>

{{ content }}

<hr>
<ul class="nav">
{% if page.previous %}
  <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">Previous Post</a></li>
{% else %}
  <li class="prev disabled"><a>Previous Post</a></li>
{% endif %}
  <!--<li><a href="{{ BASE_PATH }}{{ site.JB.blog_path }}">All Posts</a></li>-->
{% if page.next %}
  <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next Post</a></li>
{% else %}
  <li class="next disabled"><a>Next Post</a></li>
{% endif %}
</ul>
<hr>
{% include JB/comments %}
<footer>
  <p>Enjoy reading this post? Tell me on <a href="http://twitter.com/{{site.author.twitter}}"> Twitter</a> or send me an email!</p>
</footer>
