<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
  <span>{{ page.date | date: '%B %d, %Y' }}</span>
</div>

{{ content }}

<hr>
<ul class="nav">
{% if page.previous %}
  <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
{% else %}
  <li class="prev disabled"><a>&larr; Previous</a></li>
{% endif %}
  <li><a href="{{ BASE_PATH }}{{ site.JB.blog_path }}">All Posts</a></li>
{% if page.next %}
  <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
{% else %}
  <li class="next disabled"><a>Next &rarr;</a>
{% endif %}
</ul>
<hr>
{% include JB/comments %}
<footer>
  <p>Enjoy reading this post? Tell me on <a href="http://twitter.com/{{site.author.twitter}}"> Twitter</a> or send me an email!</p>
</footer>
