html,
body {
  background-color:#ffffff;
  font-family: 'Merriweather', serif;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing:antialiased;
  -webkit-overflow-scrolling:touch
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}
.nav {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
}
.light {
  font-family: 'Open Sans Light', sans-serif;
}

a {
	text-decoration: none;
	color: #2980B9;
}

ul.nav li, ul.nav li a {
	text-decoration: none;
	list-style: none;
	display: inline-block;
}

.container {
	margin: 0 auto;
}

@media (max-width: 760px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 760px) {
  .container {
    width: 700px;
  }
}